<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knoledge people</title>
</head>
<body>
    <!-- aqui va el contenido de otras paginas-->

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tasks">Tasks</a>
            </li>
            

            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/singup">Signup</a>
            </li>
            <li>
                <a href="/signin">Signin</a>
            </li>
            {% endif %}
            <li>
                <a href="/signup_donations">signup_donations</a>
            </li>
        </ul>
    </nav>


    {% block content %}
    {% endblock %}
    
</body>
</html>